<h2 class="text-columbia">Sign Up</h2>

<%= form_tag managers_path, :class => 'form', :id => 'form' do %>
  <%= label :manager, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :manager, :name, :class => 'form-control' %>
  <%= label :manager, :email, 'Email', :class => 'col-form-label' %>
  <%= text_field :manager, :email, :class => 'form-control' %>
  <%= label :manager, :password, 'Password', :class => 'col-form-label' %>
  <%= password_field :manager, :password, :class => 'form-control' %>
  <%= label :manager, :password_confirmation, 'Confirm Password', :class => 'col-form-label' %>
  <%= password_field :manager, :password_confirmation, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Sign Up', :class => 'btn btn-columbia' %>
<% end %>