<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>The report submitted by you has marked as completed </h2>

    <h2>Specific Details of Issue </h2>

    <ul id="details">
      <h2 style="font-size: 22px;">Location: </h2>

      <li style="margin-left: 14px;">
        Building:
        <%= @report.building %>
      </li>
      <li style="margin-left: 14px;">
        Area:
        <%= @report.area %>
      </li>
      <br>
      <h2 style="font-size: 22px;">Problem Information: </h2>
      <li style="margin-left: 14px;">
        Problem Type:
        <%= @report.problemtype %>
      </li>
      <li style="margin-left: 14px;">
        Emergency Level:
        <%= @report.emergencylevel %>
      </li>
      <li style="margin-left: 14px;">
        Description:
        <%= @report.description %>
      </li>
      <li style="margin-left: 14px;">
        Uni:
        <%= @report.uni %>
      </li>
      <li style="margin-left: 14px;">
        Complete Status:
        <%= @report.status %>
      </li>
    </ul>
  </body>
</html>
