
<!--  This file is app/views/reports/index.html.erb -->


<h2 class="text-columbia">ALL Existing Reports</h2>

<h5 class="text-columbia"> Filters: </h5>

<%= form_tag reports_path, method: :get, id: 'form' do %>
  <div class="form-check  form-check-inline">
    <%= label_tag "emer_only", "Show Urgent Reports Only", class: 'form-check-label' %>
    <%= check_box_tag "emer_only", "1",  @emer_only_checked, class: 'form-check-input' %>
  </div>
  <div class="form-check  form-check-inline">
    <%= label_tag "show_complete", "Show Completed Reports", class: 'form-check-label' %>
    <%= check_box_tag "show_complete", "1",  @completed_checked, class: 'form-check-input' %>
  </div>
  <div class="form-row">
    <%= label "problem_type", "problem_type", 'Problem Type', :class => 'col-form-label'%>
    <div class="col-sm-3">
      <%= select "problem_type", "problem_type", @problemlist, {:selected=>@selected}, :class => 'form-control' %>
    </div>
  </div>
  <%= submit_tag 'Filter', id: 'filter_submit', class: 'btn btn-columbia' %>
<% end %>
<br>
<table class="table table-striped col-md-12" id="reports">
  <thead>
    <tr>
      <th>Building</th>
      <th>Area</th>
      <th>ProblemType</th>
      <th>Emergency Level</th>
      <th>Status</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td>
          <%= report.building %>
        </td>
        <td>
          <%= report.area %>
        </td>
        <td>
          <%= report.problemtype %>
        </td>
        <td>
          <%= report.emergencylevel %>
        </td>
        <td>
          <%= report.status %>
        </td>
        <td>
          <%= link_to "More about", report_path(report)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- <%= link_to 'Start New Report', new_report_path, :class => 'btn btn-success' %> -->
<%= link_to 'Generate QR Code', qrcode_path, :class => 'btn btn-columbia col-2' %>
