<!--  app/views/reports/show.html.erb -->
<h2>Details about <em><%= @report.title %></em></h2>

<ul id="details">
  <li>
    Rating:
    <%= @report.rating %>
  </li>
  <li>
    Released on:
    <%= @report.release_date.strftime("%B %d, %Y") %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= @report.description %>
</p>

<div class="row">
  <%= link_to 'Edit', edit_report_path(@report), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Delete', report_path(@report), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to report list', reports_path, :class => 'btn btn-primary col-2' %>
</div>
