<!--  app/views/reports/show.html.erb -->
<h2 class="text-columbia">Specific Details of Issue </h2>

<ul id="details">
  <h2 style="font-size: 22px;">Location: </h2>

  <li style="margin-left: 14px;">
    Building:
    <%= @report.building %>
  </li>
  <li style="margin-left: 14px;">
    Area:
    <%= @report.area %>
  </li>
  <br>
  <h2 style="font-size: 22px;">Problem Information: </h2>
  <li style="margin-left: 14px;">
    Problem Type:
    <%= @report.problemtype %>
  </li>
  <li style="margin-left: 14px;">
    Emergency Level:
    <%= @report.emergencylevel %>
  </li>
  <li style="margin-left: 14px;">
    Description:
    <% if @report.description.blank? %>
    No Description
    <%else %>
    <%= @report.description %>
    <%end%>
  </li>
  <li style="margin-left: 14px;">
    Image:
    <% if @report.file_url.nil? %>
    No Image
    <%else %>
    <%= image_tag @report.file_url, size: '100x100' %>
    <%end%>
  </li>
  <li style="margin-left: 14px;">
    Complete Status:
    <%= @report.status %>
  </li>
  <br>
  <h2 style="font-size: 22px;">Comments: </h2>
  <%@report.comments.all.each do |cmt|%>
    <li style="margin-left: 14px;"> 
      <%= cmt.manager.name%>: <%= cmt.comment%>
    </li>
  <% end %>
  <li style="margin-left: 14px;"> 
    <%= form_tag addcmt_report_path(@report) do %>
      <div class="form-row">
        <%= text_field :comment, :cmt, :class => 'form-control col-sm-5' %>
        <%= submit_tag 'Add Comment', :class => 'btn btn-columbia' %>
      </div>
    <% end %>
  </li>
</ul>

<br>

<div class="row">
  <%= link_to 'Management', edit_report_path(@report), :class => 'btn btn-columbia col-2' %>
  <% if @report.status == "Uncompleted"%>
    <%= link_to 'Mark as Completed', complete_report_path(@report), 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <% else %>
    <div class="btn btn-primary col-2"> Already compeleted </div>
  <% end %>
  <%= link_to 'Back to Report List', reports_path, :class => 'btn btn-columbia col-2' %>
</div>
