<!--  app/views/reports/show.html.erb -->
<h2>Specific Details of Issue </h2>

<ul id="details">
  <h2 style="font-size: 22px;">Location: </h2>

  <li style="margin-left: 14px;">    
    Building:
    <%= @report.building %>
  </li>
  <li style="margin-left: 14px;">
    Area:
    <%= @report.area %> 
  </li>
  <br>
  <h2 style="font-size: 22px;">Problem Information: </h2>
  <li style="margin-left: 14px;">
    Problem Type:
    <%= @report.problemtype %> 
  </li>
  <li style="margin-left: 14px;">
    Emergency Level:
    <%= @report.emergencylevel %> 
  </li>
  <li style="margin-left: 14px;">
    Complete Status:
    <%= @report.status %> 
  </li>
</ul>


<div class="row">
  <%= link_to 'Management', edit_report_path(@report), :class => 'btn btn-primary col-2' %>
  <%= link_to 'Mark as complete', report_path(@report), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <%= link_to 'Back to report list', reports_path, :class => 'btn btn-primary col-2' %>
</div>
